div.elections {
  padding: 30px 10px 10px 10px;
  max-width: 500px;
  margin: auto;
  max-height: 400px;
  overflow: auto;
}

div.choices {
    padding: 20px 0 0 0;
}

div.choice {
    padding-left: 15px;
}

span.expiration{
    padding-left: 5px;
}